
<mat-toolbar class="mat-elevation-z6" color="primary">

  <button
    *ngIf="userStore.user$ | async"
    mat-icon-button class="app-menu-button"
    (click)="goToHome()"
  >
    <mat-icon
      class="material-icons"
      [style.color]="'white'"
      matTooltip="{{ 'gotoHome' | translate }}">home</mat-icon>
  </button>

  <button
    *ngIf="userStore.user$ | async"
    mat-button class="app-menu-button"
    (click)="sidenav.toggle()"
  >
    <i class="material-icons" [style.color]="'white'">menu</i>
  </button>

  <span [style.color]="'white'">NG Fintech
    <span [style.color]="'white'" *ngIf="!(isHandset$ | async) && title">
      <mat-icon role="img" [style.vertical-align]="'text-bottom'">arrow_forward_ios</mat-icon>
      {{ title | translate | uppercase }}
    </span>
  </span>

  <span class="flex-space"></span>

  <button mat-button class="mat-button " [matMenuTriggerFor]="userMenu" *ngIf="userStore.user$ | async">
    <mat-icon class="material-icons" [style.color]="'#fff'">person</mat-icon>
    <span [style.color]="'#fff'">{{ (userStore.user$ | async)?.displayName }}</span>
    <mat-menu #userMenu="matMenu" xPosition="after">
      <a mat-menu-item routerLink='login' (click)="authService.logout()" >
        <mat-icon class="material-icons">exit_to_app</mat-icon>
        <span>{{'logout' | translate | titlecase}}</span>
      </a>
    </mat-menu>
  </button>

  <ng-languages-menu [currentLanguage]="language" (useLanguage)="useLanguage($event)"></ng-languages-menu>
  <ng-themes-menu [options]="themes$ | async" (themeChange)="useTheme($event)"></ng-themes-menu>
</mat-toolbar>

<mat-toolbar
  *ngIf="(userStore.user$ | async) && (isHandset$ | async) && title"
  class="mat-elevation-z0" style="width: 100%"
  color="primary"
>
  <span [style.color]="'white'">
    <mat-icon role="img" [style.vertical-align]="'text-bottom'">arrow_forward_ios</mat-icon>
    {{ title | translate }}
  </span>
</mat-toolbar>

<br>

<mat-sidenav-container autosize [ngClass]="{'hiddenContent': loginPage}">
  <mat-sidenav #sidenav
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false && (userStore.user$ | async) !== null">
      <div class="menu">
        <mat-nav-list>
          <mat-list-item routerLink="card" routerLinkActive="menu-active">
            <mat-icon matListIcon class="menu-icon">credit_card</mat-icon>
            <a matLine>{{ 'card.menu' | translate }}</a>
          </mat-list-item>
          <mat-list-item routerLink="movement" routerLinkActive="menu-active">
            <mat-icon matListIcon class="menu-icon">receipt_long</mat-icon>
            <a matLine>{{ 'movement.menu' | translate }}</a>
          </mat-list-item>
          <mat-list-item routerLink="transfer" routerLinkActive="menu-active">
            <mat-icon matListIcon class="menu-icon">paid</mat-icon>
            <a matLine>{{ 'transfer.menu' | translate }}</a>
          </mat-list-item>
          <mat-list-item routerLink="appointment" routerLinkActive="menu-active">
            <mat-icon matListIcon class="menu-icon">event</mat-icon>
            <a matLine>{{ 'appointment.menu' | translate }}</a>
          </mat-list-item>
          <mat-list-item routerLink="tax" routerLinkActive="menu-active">
            <mat-icon matListIcon class="menu-icon">summarize</mat-icon>
            <a matLine>{{ 'tax.menu' | translate }}</a>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div class="menu footer">
        <div class="footer-title">
          NG Fintech - 1.0.0
        </div>
        <div>
          <table style="width: 50%; height: 50px; margin: 0 auto">
            <tr>
              <td style="text-align: right;" rowspan="2">
                <a slot="start" href="https://academy.talent-factory.it/" target="_blank">
                  <img [src]="'assets/images/logo_' + themeService.getCurrentTheme().type + '.png'" height="35px" alt="Angular Academy">
                </a>
              </td>
              <td style="text-align: left; vertical-align: bottom;">
                <span>Angular Academy</span>
              </td>
            </tr>
            <tr>
              <td>
                <span style="text-align: center; vertical-align: top">
                  IT TALENT FACTORY
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
  </mat-sidenav>
  <mat-card class="mat-elevation-z0">
    <router-outlet></router-outlet>
  </mat-card>
</mat-sidenav-container>
